<div class="panel-body store-details">
	<div class="row">
		<div class="col-md-12 menusmargin-Top25">
			 <a href="/latest/app/" title="Home" alt="Home"><span class="glyphicon glyphicon-home pull-right"></span></a>
			 <a href back-button>Back To Search Result</a>
		</div>
		<div class="col-md-6">
			<h3>{{selectedStore.storeName}}</span></h3>
			<address>
				<span ng-show="selectedStore.address.addressLine1">{{selectedStore.address.addressLine1}}<br/></span>
				<span ng-show="selectedStore.address.addressLine2">{{selectedStore.address.addressLine2}}<br></span>
				<span ng-show="selectedStore.address.county">{{selectedStore.address.county}}<br/></span>
				<span ng-show="selectedStore.address.city">{{selectedStore.address.city}}<br/></span>
				<span ng-show="selectedStore.address.postcode">{{selectedStore.address.postcode}}<br/></span>
				<span ng-show="selectedStore.address.country">{{selectedStore.address.country}}<br/></span>
				<span ng-show="selectedStore.telephone">{{selectedStore.telephone}}</span>
			</address>
		</div>
		<div class="col-md-6 ">	
			<div class="table-responsive">
				<table class="table locationTable pull-right">  
					<thead> 
						<tr> 
							<th></th> 
							<th>Latitude</th> 
							<th>Longitude</th> 
						</tr> 
					</thead>
					<tbody> 
							<tr> 
								<th scope="row">Location</th> 
								<td>{{selectedStore.location.latitude}}</td> 
								<td>{{selectedStore.location.longitude}}</td>													 
							</tr> 
							<tr> 
								<th scope="row">Sat Nav</th> 
								<td>{{selectedStore.satnav.latitude}}</td> 
								<td>{{selectedStore.satnav.longitude}}</td> 													 
							</tr> 												
						</tbody> 
					</table>
				</div>	
		</div>
	</div>	
	<div class="row">
	<div class="col-md-12">
			<div  id="openingTime">
				<ul class="nav nav-tabs">
					<li ng-repeat="tabservice in tabservice"  ng-class="($index == 0) ? 'active' : ''"><a data-target="#{{tabservice}}" aria-controls="stores" role="tab" data-toggle="tab">{{tabservice}}</a></li>
				</ul>
				<div class="tab-content padding-zero defult-border">
					<div ng-repeat="(key, data) in tabContent track by $index" id="{{key}}" class="tab-pane  fade in " ng-class="($index == 0) ? 'active' : ''">
						<div class="table-responsive" >
							<table class="table">
								<caption class="tbl-caption">Opening times</caption>
								<thead>
									<tr>
										<th scope="col">Monday</th>
										<th scope="col">Tuesday</th>
										<th scope="col">Wednesday</th>
										<th scope="col">Thursday</th>
										<th scope="col">Friday</th>
										<th scope="col">Saturday</th>
										<th scope="col">Sunday</th>									
									</tr>
								</thead>
								<tbody>
									<tr >
										<td ng-repeat="cols in data track by $index">{{cols}}</td>									
									</tr>
								</tbody>
							</table>		
						</div>
					</div>
				</div>
			</div>
			<div class="store-in">
				<h3>What's in-store</h3>
					<ul class="list-inline">
						<li ng-repeat="department in department">
							<p class = "tooltip-options">						
								<a href = "javascript:void();" data-toggle = "tooltip"  title = "{{department.toolTipe}}" class="test">
										<img ng-src="{{department.displayImage}}" alt="{{department.serviceName}}" title="{{department.serviceName}}"/>
								</a>
							</p>
						</li>
					</ul>
			</div>
			<div class="more-Services">
				<h3>More Services</h3>
					<ul class="list-inline" id="moreServicesId">
						<li ng-repeat="services in services">
							<p class = "tooltip-options">						
								<a href = "javascript:void();" data-toggle = "tooltip"  title = "{{services.toolTipe}}" class="test">
									<img ng-src="{{services.displayImage}}" alt="{{services.serviceName}}" title="{{services.serviceName}}"/>
								</a>
							</p>
						</li>
					</ul>
			</div>	
		</div>
	</div>					  
</div>
<script>
function placement(context, element) {
	        var position = $(element).position();
	        console.log(position.top - $(window).scrollTop());
	       if (position.left < 280) {
                return "right";
            }
    
            if (position.top < 280){
                return "bottom";
            }
            
            else {
                return "left";
            }
};

$(document).ready(function(){
	$(document).tooltip({
        selector: '[data-toggle="tooltip"]',        
        placement: placement
    });    
});
</script>