<div class="col-md-2" ng-controller="StoreFinderCtrl" ng-cloak ng-init="init()">
	<img src="assets/image/bg_ukmap.gif" class="img-responsive">
</div>
<form class="form-inline" name="storeForm" ng-submit="findStore()" novalidate>
	<div class="col-md-10">
		<h3 class="graeen-text ">Find your local store and its opening times</h3>
			<div class="form-group frm-full-width">   
				<input type="text" class="form-control frm-control-input" name="searchTerm" ng-model="searchTerm" placeholder="Enter your postcode or street, town/city" ng-class="{ 'has-error' : storeForm.searchTerm.$invalid && !storeForm.searchTerm.$pristine }" required>
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="storeForm.$invalid" disabled="disabled"><span class="glyphicon glyphicon-search"></span> Find stores</button>
	</div>		
	<div class="col-md-12 specificLooking " id="storeSecificService" >
		<h5>Looking for something specific?</h5>
			<p class="display-spwcifictext">
			Find a store with the services you need by ticking the relevant boxes below then clicking the 'Find stores' button
			</p>
			<ul class="list-group list-inline">
				<li class="list-group-item">
					<table>
				 		<tr>
							<td class="ullist-img">
				 				<img src="assets/image/icon_petrol.gif">
				   			</td>
				   		</tr>
				   		<tr>
				   			<td class="lbl-ullist">
				   				Petrol Station
				   			</td>
				   		</tr>
				  		<tr>
				  			<td class="lbl-ullist">
				   				<input type="checkbox">
				   			</td>	
				   		</tr>
				   	</table>
				</li>
				<li class="list-group-item">
				  	<table>
				 		<tr>
				  			<td class="ullist-img">
				   				<img src="assets/image/icon_carwash.gif" >
				   			</td>
				   		</tr>
				  		<tr>
				  			<td class="lbl-ullist">
				 				Car Wash
				   			</td>
				   		</tr>
						<tr>												    			
					   		<td class="lbl-ullist">
								<input type="checkbox">
							</td>	
				   	</table>
				</li>
			</ul>
	</div>
</form>
<!-- Store sepecific service end -->
<div class="col-md-12 cityListing hide" id="storeCityListingDiv">
	<table class="table table-hover bottom-mgr-zero">
   		<tbody> 
   			<tr ng-repeat="cityies in dbCityList"> 
   				<th scope="row" class="list-border">
   					<h3><a href="javasctipt:void();" ng-click="viewStoreList(cityies.cityLatlong)">{{cityies.city}}</a></h3>
   				</th>   				 
			</tr>
			<tr ng-show="!dbCityList.length"> 
   				<td scope="row">
   					Sorry your search criteria did not return any results. Kindly broaden the scope of search by removing some search criteria and try searching again.
   				</td>   				 
			</tr> 												    			
		</tbody> 
	</table>
</div>
<div class="col-md-12 storeListing hide" id="storeListingDiv">
	<!-- Nav tabs start-->
	<ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a data-target="#stores" aria-controls="stores" role="tab" data-toggle="tab">Store</a></li>
	    <li role="presentation"><a data-target="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>										    
	</ul>
	<!-- Nav tabs end-->
    <!-- Tab panes start-->
	<div class="tab-content padding-zero defult-border">
	<!-- Stores listing start-->
		<div role="tabpanel" class="tab-pane active" id="stores">
		   	<table class="table table-hover bottom-mgr-zero">
		   		<tbody> 
		   			<tr ng-repeat="marker in dbMarkers track by $index"> 
		   				<th scope="row" class="list-border"><h3>{{$index+1}}</h3></th> 
		   				<td class="list-border">
		  					<h3><a href="stores/{{marker.id}}">{{marker.storeName}}</a></h3>
		    				<address>
			   					<span ng-show="marker.addressLine1">{{marker.addressLine1}}<br/></span>
			   					<span ng-show="marker.addressLine2">{{marker.addressLine2}}<br/></span>
			   					<span ng-show="marker.city">{{marker.city}}<br/></span>
			   					<span ng-show="marker.county">{{marker.county}}<br/></span>
			   					<span ng-show="marker.postcode">{{marker.postcode}}<br/></span>
							</address>
						</td> 
						<td class="list-border txt-padding-top">{{marker.distance}} miles away</td>
					</tr> 										    			
				</tbody> 
			</table>
		</div>
	<!-- Stores map start-->
	<div role="tabpanel" class="tab-pane" id="map">		
		<script>
				var pinInfoBox;  //the pop up info box
				var infoboxLayer = new Microsoft.Maps.EntityCollection();
				var pinLayer = new Microsoft.Maps.EntityCollection();
				var apiKey = "AkaxzD5YOJCbIvziHVOLfm6AkeM5Z5UQ3dHS53mQzwK-6LGWnxYjAwNqfe3D4UBT";

				//HTML that generates the frame for the custom infobox
        		var pushpinFrameHTML = '<div class="infobox"><a class="infobox_close" href="javascript:closeInfobox()"><img src="assets/image/button-close-green.png"/></a><div class="infobox_content">{content}</div></div></div>';


				function GetMap(selectedLat,selectedlog,dbMarkers) {
					
								map = new Microsoft.Maps.Map(document.getElementById("maps"), {credentials: apiKey , center : new Microsoft.Maps.Location(selectedLat, selectedlog), zoom :10});

								map.entities.clear();
						     	pinLayer.clear();
								// Create the info box for the pushpin
								pinInfobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(0, 0), { visible: false });
																		infoboxLayer.push(pinInfobox);
								for (var i = 0, l = dbMarkers.length; i < l; i++) {
								//add pushpins
									var latLon = new Microsoft.Maps.Location(dbMarkers[i].latitude, dbMarkers[i].longitude);
									var pin = new Microsoft.Maps.Pushpin(latLon);
									pin.Title = dbMarkers[i].storeName;//usually title of the infobox
									var storeAddress = "";
									if(dbMarkers[i].addressLine1){
										storeAddress +=dbMarkers[i].addressLine1+",<br/>"
									}
									if(dbMarkers[i].addressLine2){
										storeAddress +=dbMarkers[i].addressLine2+",<br/>"
									}
									if(dbMarkers[i].county){
										storeAddress +=dbMarkers[i].county+",<br/>"
									}
									if(dbMarkers[i].city){
										storeAddress +=dbMarkers[i].city+",<br/>"
									}
									if(dbMarkers[i].postcode){
										storeAddress +=dbMarkers[i].postcode+"<br/><br/><br/>"
									}
																		            
									pin.Description = storeAddress; //information you want to display in the infobox
									pinLayer.push(pin); //add pushpin to pinLayer
									Microsoft.Maps.Events.addHandler(pin, 'click', displayInfobox);
								}

								map.entities.push(pinLayer);
								map.entities.push(infoboxLayer);
		    }

			/*function displayInfobox(e) {
				pinInfobox.setOptions({title: e.target.Title, description: e.target.Description, visible:true, offset: new Microsoft.Maps.Point(0,25)});
				pinInfobox.setLocation(e.target.getLocation());
			}*/

			function displayInfobox(e){
	            if (e.targetType == "pushpin") {
	                var pin = e.target;

	                var html = "<span class='infobox_title'>" + pin.Title + "</span><br/>" + pin.Description;

	                pinInfobox.setOptions({
	                    visible:true,
	                    offset: new Microsoft.Maps.Point(-33, 20),
	                    htmlContent: pushpinFrameHTML.replace('{content}',html)
	                });

	                //set location of infobox
	                pinInfobox.setLocation(pin.getLocation());
	            }
         	}

         	function closeInfobox(){
            	pinInfobox.setOptions({visible:false});
        	}

			function hideInfobox(e) {
				pinInfobox.setOptions({ visible: false });
			}
												    
		</script>	
			<div class="col-md-12" id="map-outer">
				<div id="maps"></div>
			</div>												
		</div>			    
	</div>
<!-- Tab panes end-->
</div>


										 