/* Body  */

body {
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	color: #000 !important;	
}

/* Container Div */

.container {	
	width:100%;
	margin-right: auto;
	margin-left: auto;	
	background-color: #FFF;
}

/* Panel Div */

.panel-default> .panel-heading {
	background: #ffe14f;
	color: #006555;	
	height: auto;
}


/* Store Details Div */
.store-details h3 {
	color: #228e5d;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0.5em 0;
}

/* Tab */
.nav-tabs {
  border-bottom : 1px solid #80c342;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
	color: #555;
  background-color: #fff;
  border: 1px solid #80c342;
  border-bottom-color: transparent;
  cursor: pointer;
}

.nav-tabs>li>a {
	color: #FFF;
  background-color: #80c342;
  border: 1px solid #80c342;
  border-bottom-color: transparent;
  cursor: pointer;
  text-transform: capitalize;
}

.nav-tabs>li>a:hover {
	color: #FFF;
  background-color: #80c342;
  border: 1px solid #80c342;
  border-bottom-color: transparent;
  cursor: pointer;
}

.nav-tabs>li.active>a:hover , .nav-tabs>li.active>a:hover {
  border: 1px solid #80c342;
  border-bottom-color: transparent;
  cursor: pointer;
}
 /* Table */
}
.tab-content {   
  padding:10px;

}

.tbl-caption {
  text-align: left;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
  padding-top: 10px;
}
.table-responsive {
	border: 0px;
}

th,td {
  text-align: left;
  white-space: nowrap;
  font-size: 12px;

}

/* Store In & Store More Div Css */
.store-in, .more-Services {
	padding-top: 10px;
}

.store-in, .more-Services .specificLooking h3 {
  border-top: 1px dotted #ddd;
  padding-top: 30px;
    
}

  /* Tooltip */
.test + .tooltip > .tooltip-inner {
  background-color: #fff;       
  color: #000;
  border: 1px solid #80c342; 
  padding: 10px;
  font-size: 12px;
  text-align: left;
}
  /* Tooltip on top */
.tooltip.test .tooltip.top .tooltip-arrow {
  border-top: 5px solid #80c342;
}
  /* Tooltip on bottom */
.tooltip.test .tooltip.bottom .tooltip-arrow {
  border-bottom: 5px solid #80c342;
}
  /* Tooltip on left */
.tooltip.test .tooltip.left .tooltip-arrow {
  border-left: 5px solid #80c342;
}
  /* Tooltip on right */
.tooltip.test .tooltip.right .tooltip-arrow {
  border-right: 5px solid #80c342;
}

 .tooltip.test .tooltip-inner {
  color: #000;
  background-color: #fff;
  border: 1px solid #80c342; 
  padding: 10px;
  font-size: 12px;
  text-align: left;
  width: auto;
}

.tooltip.top .tooltip-arrow {
  border-top: 5px solid #80c342;  
}

.tooltip.bottom .tooltip-arrow {
  border-bottom: 5px solid #80c342;
}

.tooltip.left .tooltip-arrow {
  border-left: 5px solid #80c342;
}

.tooltip.right .tooltip-arrow {
  border-right: 5px solid #80c342;
}


  /* Footer Div */
.footer-container {
 	padding-top: 9px;    
  border-top: 1px solid #eee;
  text-align: right;
  color: #b29d2d;
  font-size: 12px;
}

  /* Selected Day Css */
.selectedDay {
  color: #FFF;
  background-color: #80c342;
}

/* Location Data Div */

.locationTable {
  width: 40%;  
}

.tab-pane {
  overflow: auto;
  width: 100%;
}

.locator {
    background: url(https://your.morrisons.com/b~1.0.1911.23807/graphics/storelocator/bg_ukmap.gif) no-repeat left top;
    overflow: hidden;
    height: 100px;
    margin: 0 0 10px;
    padding: 20px 0 20px 70px;
}

.input-md {
  width: 100% !important;


}

.margin-Top30 {
  margin-top: 25px;
} 

.graeen-text {
  color: #006555; 
  font-size: 1.2em;
  margin: 0 0 5px;
  font-weight: normal !important;
}

.store-search-text {
  margin-left: -15px;
  padding-top: 15px;
}

.store-input-search {
  width: 75% !important;
}

.padding-zero {
  padding: 0px !important;
}

.margin-top-15 {
  margin-top: 15px;
} 

.btn-primary,.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary:hover, .btn-primary:focus {
  background: #006555;
  border-color: #006555;
  color: #FFF;
}

.btn-primary {
  color: #fff;
  background-color: #006555;
  border-color: #006555;
}

.specificLooking h5 {
  border-top: 1px dotted #ddd;
  padding-top: 30px;
  color: #006555;
}

.list-group-item {
  border: none;
}

.ullist-img {
 display: block;
 text-align: center;
 margin-bottom: 5px;
}

.lbl-ullist {
  color: #006555;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8em;
  font-weight: bold;
  width: 90px;
  height: 25px;
  white-space: normal;  
  margin-bottom: 5px;
}

.frm-full-width {
    width: 75%;
}

.frm-control-input {
  width: 100% !important;
}

.display-spwcifictext {
  font-size: 0.9em;
}

.margin-top-5 {
  margin-top: 5px;
} 

.padding-left-40 {
  padding-left: 40px;
}

.row-left-padding-20 {
  padding-left: 20px;
}

.storeListing {
  margin-top: 30px;
}

.list-border {
  border-top:none !important;
  border-bottom: 1px dotted #ddd;
}

.defult-border {

  border-bottom: 1px solid #80c342 !important;
  border-left: 1px solid #80c342 !important;
  border-right: 1px solid #80c342 !important;
}

.txt-padding-top {
  text-align: right;
  padding-top: 18px !important;
}

.bottom-mgr-zero {
  margin-bottom: 0;
}

a:link,a:visited {
    color: #006555;
    font-weight: bold;
    text-decoration: none;

}

#maps { width: 95%; height: 400px; }
#map {padding: 20px;}

.cityListing{
  border: 1px solid #006555!important;
}

.tbl-caption {
  padding-left: 5px;
}

.has-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

/**** Bing Map Infobox css ***/

.infobox{
    position:absolute;
    background-color:white;
    border:1px solid #006555;
    left:0px;
    top:0px;
    width:256px;
    border-radius: 10px;
}

.infobox_close{
    cursor:pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    border:none;
}

.infobox_content{
    margin:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:20px;
}

.infobox_pointer{
    width:33px;
    height:38px;
    overflow:hidden;
    position:relative;
    z-index:1;
    left:20px;
    top:-1px;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid #3c763d;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    line-break: auto;
}

.popover.top>.arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: #3c763d;
    border-bottom-width: 0;
}

.menusmargin-Top25 {
  margin-top: -25px;
} 

#map-outer {height: 440px; padding: 15px;  margin-bottom: 15px;}